.quickMenuContainer {
  background-color: var(--quickMenu);
  justify-content: center;

  & > div {
    max-width: 1200px;
    min-height: 56px;
    overflow-x: auto;
  }
  .quickMenuItem {
    align-items: center;

    span {
      height: 56px;
      padding: 6px 22px;
      font-size: 1.4rem;
      font-weight: var(--w600);
      letter-spacing: -0.28px;
      color: var(--quickMenuItemClr);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: default;
    }
    &:hover {
      background-color: var(--white);
      span {
        color: var(--orange);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .quickMenuContainer {
    .quickMenuItem {
      span {
        white-space: nowrap;
      }
    }
  }
}
