.quickMenuItem {
  align-items: center;

  span {
    padding-left: 22px;
    padding-right: 22px;
    font-size: var(--quickMenuItemText);
    font-weight: var(--w600);
    letter-spacing: -0.28px;
    color: var(--quickMenuItemClr);
    text-align: center;
    cursor: default;
  }
  &:hover {
    background-color: var(--white);
    span {
      color: var(--orange);
    }
  }
}
