@import "constants/mediaVars.scss";

.masterBarContainer {
  padding: 0 30px;
  flex: 1;
  justify-content: center;
  padding-top: 16px;
  & > div {
    width: 1200px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: $mobile) {
  .masterBarContainer {
    padding-top: 0px;
  }
}
