@font-face {
  font-family: "helvetica";
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "helveticaBold";
  src: url("./assets/fonts/HelveticaBold.ttf") format("truetype");
}
@font-face {
  font-family: "helveticaLight";
  src: url("./assets/fonts/HelveticaLight.ttf") format("truetype");
}
:root {
  // devices
  --mobil: 1280px;

  // background-colors
  --primary: #fff;
  --orange: #ff6000;
  --black: #000;
  --white: #fff;

  --stickPurpleL: #7622da;
  --stickPurpleD: #6b1e5b;
  --stickBlueL: #47c6eb;
  --stickOrangeD: #ed5f1f;
  --stickOrangeL: #f59f28;
  --stickGreenL: #45b794;

  --quickMenu: #f5f5f5;
  --quickMenuDividerBc: #e5e5e5;

  --signInputBC: #eee;
  --signInputHoverBC: #f5f5f5;
  --signInputErrorBC: #fef2f2;
  --signSubmitHoverBC: #e35600;
  --signErrorBoxBC: #f9000014;
  --signErrorBoxLeftBC: #fa3f3f;
  --authErrorBoxBC: #f01919;

  --compStatusErrorBC: #ed433e;

  // colors
  --topLink: #7b7b7b;
  --topLinkOrange: #ed433e;
  --deliveryMenuTittle: #484848;
  --deliveryMenuDesc: #7b7b7b;

  --searchElements: #ccc;
  --inputHelpClr: #9b9b9b;

  --quickMenuItemClr: #646464;

  --signButtonsText: #484848;

  --signInputClr: #9b9b9b;
  --signInputFocusClr: #484848;
  --singInputErrorClr: #fa3f3f;
  --singInputErrorInfoClr: #fb6f6f;

  --carouselHeaderItemClr: #484848;

  //border-shadow color
  --deliveryMenu: rgba(0, 0, 0, 0.16);
  --searchBorderNoActive: #919191;
  --signButtonsBorder: #eee;

  --signInputErrorBorder: #fb6f6f;

  //font
  --auto: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --helvetica: "helvetica";
  --helveticaBold: "helveticaBold";
  --helveticaLight: "helveticaLight";

  //weight
  --w100: 100;
  --w200: 200;
  --w300: 300;
  --w400: 400;
  --w500: 500;
  --w600: 600;
  --w700: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
input {
  outline: none;
}
html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
