@import "constants/mediaVars.scss";
@import "constants/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
input {
  outline: none;
}
html {
  font-size: 10px;
  background-color: var(--primary);
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}
@media screen and (max-width: $mobile) {
  html {
    font-size: 11px;
  }
}
