@import "constants/mediaVars.scss";
.compStatusContainer {
  flex-shrink: 0;
  padding: 24px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: $mobile) {
  .compStatusContainer {
    padding: 0px 20px;
  }
}
