@import "constants/mediaVars.scss";

.carouselContainer {
  position: relative;

  .backdropImg {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

@media screen and (max-width: $mobile) {
  .carouselContainer {
    .backdropImg {
      display: none;
    }
  }
}
