.customLinkContainer {
  line-height: 16px;
  .delivery {
    position: relative;

    &:hover {
      & {
        position: relative;
        z-index: 30;
      }
      .overlay {
        visibility: visible;
      }
      .menuContainer {
        visibility: visible;
      }

      &::before {
        content: "";
        top: 26px;
        left: 50%;
        border-top: 1px solid var(--deliveryMenu);
        border-left: 1px solid var(--deliveryMenu);
        position: absolute;
        z-index: 3;
        width: 12px;
        height: 12px;
        background-color: var(--primary);
        transform: rotate(45deg);
      }
      .title {
        color: var(--primary);
        position: relative;
        z-index: 4;
      }
    }
  }

  .overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: 0.4);
    visibility: hidden;
    &:hover {
      visibility: hidden !important;
    }
  }
}
