.ballContainer {
  border-radius: 50%;
  animation: ease-in-out infinite alternate 0.8s anim;
}
@keyframes anim {
  0% {
    height: 0px;
    width: 0px;
  }

  30% {
    height: 0px;
    width: 0px;
  }

  100% {
    height: 16px;
    width: 16px;
  }
}
